*{
	margin: 0;
	padding: 0;
	font-family: 'arial';
}
body{
	text-align: center;
	background: url(/img/fondo.jpg);
}
h1{
	color: white;
	padding: 30px;
}
.container{
	padding: 8px;
	background-color: #1900ff;
	max-width: 500px;
	margin: auto;
	border: 2px solid #000;
	border-radius: 20px;
	display: flex;
}
.izquierdo{
	width: 70%;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffff;
}
.derecha{
	width: 30%;
}
.msj{
	font-size: 30px;
	height: 40px;
}
.derecha{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.opcion{
	width: 60px;
	height: 60px;
	font-size: 30px;
	margin-bottom: 20px;
	border-radius: 50%;
	background-color: #000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* From uiverse.io */
a {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	text-decoration: none;
  }
  
  a:hover {
	background-color: #23c483;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
  }
  
  a:active {
	transform: translateY(-1px);
  }
